.full-rounded {
    border-radius: 20px;
}

.left-rounded {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right-rounded {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-full-width {
    width: 100%;
}

.btn-add {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-delete {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.process {
    background: white;
    border: lightgray solid 1px;
    padding: 0 0 0 15px;
    margin-top: 5px;
}

#memory, #time {
    padding: 2px 0 5px 15px;
    width: 100%;
    border: 0;
    border-radius: 0;
}

#memory {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#calculate {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.simple-card {
    background: white;
    border: lightgray solid 1px;
    margin-top: 5px;
}

