{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OS Partitions</title>

    <!-- production -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- local test -->
    {#    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">#}

    <!-- base css file -->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OS Partitions Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Done By Abolfazl Amiri, 94413020</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/aasmpro">GitHub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/aasmpro/">LinkedIn</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-12">
                    <div id="result_list">

                        {#                        <div class="process no-gutters full-rounded">#}
                        {#                            <div class="row no-gutters">#}
                        {#                                <div class="col-md-4 col-sm-12 text-center">#}
                        {#                                    <span class="">Processes No: </span>#}
                        {#                                </div>#}
                        {#                                <div class="col-md-4 col-sm-12 text-center">#}
                        {#                                    <span class="">Total Memory: </span>#}
                        {#                                </div>#}
                        {#                                <div class="col-md-4 col-sm-12 text-center">#}
                        {#                                    <span class="">Total Time: </span>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="row no-gutters">#}
                        {#                                <div class="col-md-6 col-sm-12 text-center">#}
                        {#                                    <span class="">Performance (1 Queue): </span>#}
                        {#                                </div>#}
                        {#                                <div class="col-md-6 col-sm-12 text-center">#}
                        {#                                    <span class="">Performance (5 Queues): </span>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}

                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-12 col-sm-12">
                    <button id="calculate" class="btn btn-sm btn-primary btn-full-width full-rounded"
                            onclick="calculate()">Calculate
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row no-gutters full-rounded simple-card">
                <div class="col-md-5 col-6">
                    <input class="text-center" id="memory" type="text" placeholder="Memory">
                </div>
                <div class="col-md-5 col-6">
                    <input class="text-center" id="time" type="text" placeholder="Time">
                </div>
                <div class="col-md-2 col-12">
                    <button class="btn-add btn-full-width btn btn-success btn-sm right-rounded" onclick="add_process()">
                        Add Process
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="process_list">

                        {#                        <div class="row process no-gutters full-rounded">#}
                        {#                            <div class="col-5">#}
                        {#                                <span class="">Memory: </span>#}
                        {#                            </div>#}
                        {#                            <div class="col-5">#}
                        {#                                <span class="">Time: </span>#}
                        {#                            </div>#}
                        {#                            <div class="col-2">#}
                        {#                                <button class='btn-delete btn btn-sm btn-danger btn-full-width right-rounded'#}
                        {#                                        onclick='del_process(" + id + ")'>Delete#}
                        {#                                </button>#}
                        {#                            </div>#}
                        {#                        </div>#}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- production -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<!-- local test -->
{#<script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>#}

<!-- base js file -->
<script type="text/javascript" src="{% static "js/base.js" %}"></script>
</body>
</html>
